#carousel {
	width: 100%;
	height: 50vh;
}
.shadow {
	text-shadow: -1px 1px 10px black, 1px -1px 10px black;
}
.whiteCol {
	background-color: rgb(250, 240, 240);
	height: 100%;
}
#footing {
	margin-left: -15px;
	width: 100wh;
	margin-top: 30px;
	margin-right: -15px;
}
.btn-group {
	width: 100%;
}
#postForm {
	width: 100%;
}
/* Background animation CSS credit to Manuel Pinto https://codepen.io/P1N2O/pen/pyBNzX*/
body {
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
