#jumboImg {
	max-width: 20%;
	height: auto;
}

.card-img {
  max-width: 100%;
  max-height: 16vw;
}

.stroke {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.project-card-img {
  max-width: 32vw;
  height: auto;
  padding: 0 0 0 0;
}

.card-padd {
  padding: 16px 16px 16px 16px;
}

.hr-override {
  margin-top: 0;
  margin-bottom: 0;
}
