{% extends "layout.html" %}
{% block title %}Ombi: The Request Server{% endblock %}
{% block styles %}
body {
    overflow: hidden;
}
iframe {
    position: absolute;
    height: 95%;
    width: 100%;
    border: none;
}
{% endblock %}
{% block body %}
	{% if network %}
		<iframe allowfullscreen src="ftp://nethaire.duckdns.org">Your browser is not compatible.</iframe>
	{% else %}
		<iframe allowfullscreen src="ftp://192.168.1.102">Your browser is not compatible.</iframe>
	{% endif %}
{% endblock %}
