{% import 'bootstrap/wtf.html' as wtf %}
{% extends "layout.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a href="/plex">
				<img class="d-block w-100" id="carousel" src="http://cdn.mos.cms.futurecdn.net/6a72657b487e2e48980ba8a09938b384-1200-80.jpg" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h3>The Media Server</h3>
					<p>Where the magic is watched<p>
					</div>
				</a>
			</div>
			<div class="carousel-item">
				<a href="/ombi">
					<img class="d-block w-100" id="carousel" src="https://camo.githubusercontent.com/5bd964b481f8040f76efb3df88f1781f38921474/687474703a2f2f692e696d6775722e636f6d2f7151734e3738552e706e67" alt="Second slide">
					<div class="carousel-caption d-none d-md-block">
						<h3 class="shadow">The Request Server</h3>
						<p class="shadow">Where the magic is created</p>
						</div>
					</a>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
				</div>
				<div class="col-8 whiteCol" id="centreCol">

          {% if current_user.username == "Nethaire" %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create a new post
            </button>
            <div class="dropdown-menu" id="postForm">
      				<form class="px-4 py-3" action="{{ url_for('post') }}" method="post">
      					{{ wtf.quick_form(postform) }}
              </form>
      			</div>
          </div>
          {% endif %}

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}

          {% for post in posts %}
          <div class="container">
            <h1 class="display-4">{{ post.title }}</h1>
            <!--<p class="lead">{{ post.timestamp.strftime("%A, %B %d, %Y at %I:%M%p") }}</p>-->
            <p class="lead">{{ post.timestamp | datetimefilter }}</p>
            <hr class="my-4">
            <p>{{ post.body }}</p>
            <hr class="my-4">
          </div>
          {% if current_user.username == "Nethaire" %}
          <form action="/delpost" method="post">
            <input type="hidden" value="{{ post.id }}" name="postID" />
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Delete</button>
          </form>
          {% endif %}
          {% endfor %}

					<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="footing">
						<a class="navbar-brand" href="#">Nethaire</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
							</ul>
						</div>
					</nav>

				</div>
				<div class="col">
				</div>
			</div>
		</div>
		{% endblock %}
