{% extends "layout.html" %}
{% block title %}Plex: The Media Server{% endblock %}
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='servers.css')}}">
{% endblock %}
{% block content %}
	{% if network %}
		<p>Must be on the local network to access this.</p>
	{% else %}
		<iframe allowfullscreen src="http://192.168.1.102:9117">Your browser is not compatible.</iframe>
	{% endif %}
{% endblock %}
