{% import 'bootstrap/wtf.html' as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block styles %}{% endblock %}
	<link rel="stylesheet" href="{{url_for('.static', filename='layout.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  {% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">Nethaire</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"$
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/resume">Resume</a>
		  </li>
		  <li class="nav-item dropdown">
			{% if not current_user.is_anonymous %}
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Servers
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="/plex">Plex</a>
			  <a class="dropdown-item" href="/ombi">Ombi</a>
			  <!--<a class="dropdown-item" href="/ftp">FTP</a>-->
			  {% if current_user.username == "Nethaire" %}
			  <a class="dropdown-item" href="/sonarr">Sonarr</a>
			  <a class="dropdown-item" href="/radarr">Radarr</a>
			  <a class="dropdown-item" href="/transmission">Transmission</a>
			  <a class="dropdown-item" href="/jackett">Jackett</a>
			  {% endif %}
			</div>
			{% endif %}
		  </li>
		</ul>

		<ul class="navbar-nav navbar-right">

		<div class="btn-group">
			{% if current_user.is_anonymous %}
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Login
			</button>
			<div class="dropdown-menu dropdown-menu-right" id="dropdownTeaks">

				<form class="px-4 py-3" action="{{ url_for('login') }}" method="post">
					{{ wtf.quick_form(loginform) }}
					<div class="dropdown-divider"></div>
					<div class="alert alert-info" role="alert">
						Only Plex accounts are supported at this time.
					</div>
					<form action="{{ url_for('google.login') }}">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Google Signin</button>
					</form>
				</form>
				{% else %}
					<form action="{{ url_for('logout') }}" method="GET">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
					</form>
				{% endif %}

			</div>
		</div>
	  </div>
	</nav>
	{% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script>{% block scripts %}{% endblock %}</script>
</body>
</html>
