{% extends "layout.html" %}
{% block title %}Plex: The Media Server{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='servers.css')}}">
{% endblock %}
{% block content %}
	{% if network %}
		<iframe allowfullscreen src="http://nethaire.duckdns.org:32400">Your browser is not compatible.</iframe>
	{% else %}
		<iframe allowfullscreen src="http://192.168.1.102:32400">Your browser is not compatible.</iframe>
	{% endif %}
{% endblock %}
