{% extends "layout.html" %}
{% block title %} Resume {% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='resume.css')}}">
{% endblock %}
{% block content %}

<div class="media">
  <img class="align-self-start mr-3" id="jumboImg" src="{{ url_for('.static', filename=data['Self']['image']) }}" alt="Borked Image">
  <div class="media-body">
    <h1 class="mt-0">{{ data['Self']['name'] }}</h1>
    <hr>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
        <a class="nav-item nav-link" id="nav-full-tab" data-toggle="tab" href="#nav-full" role="tab" aria-controls="nav-full" aria-selected="false">Full Story</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
        <p style="white-space: pre-wrap;">{{ data['Self']['summary'] }}</p>
      </div>
      <div class="tab-pane fade" id="nav-full" role="tabpanel" aria-labelledby="nav-full-tab">
        <p style="white-space: pre-wrap;">{{ data['Self']['full'] }}</p>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p style="white-space: pre-wrap;">{{ data['Self']['contact'] }}</p>
      </div>
    </div>
  </div>
</div>

<div id="accordion" role="tablist">

  {% for category in data if not "Self" in category %}
  <div class="card">
    <div class="card-header" role="tab" id="{{ category }}">
      <h5 class="mb-0">
    		<a class="collapsed" data-toggle="collapse" href="#collapse{{ category }}" aria-expanded="false" aria-controls="collapse{{ category }}">
    		  {{ category }}
    		</a>
  	  </h5>
    </div>
    <div id="collapse{{ category }}" class="collapse" role="tabpanel" aria-labelledby="{{ category }}" data-parent="#accordion">
      <div class="card-body">
        {% for type in data[category] %}

          {% if "table" in type %}
          <table class="table">
            {% for row in data[category][type] %}
            {% if "titles" in row %}
            <tr>
              {% for item in data[category][type][row] %}
              <th scope="col" colspan="{{ data[category][type][row][item] }}" class="text-center">{{ item }}</th>
              {% endfor %}
            </tr>
            {% elif "subs" in row %}
            <tr>
              {% for item in data[category][type][row] %}
              <th scope="col" class="text-center">{{ item }}</th>
              {% endfor %}
            {% elif "row2" in row %}
              {% for item in data[category][type][row] %}
              <td class="text-center">{{ item }}</td>
              {% endfor %}
            </tr>
            {% else %}
            <tr>
              {% for item in data[category][type][row] %}
              <td class="text-center">{{ item }}</td>
              {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
          </table>

          {% elif "string" in type %}
          <p>{{ data[category][type] }}</p>

          {% elif "project" in type %}
          <div class="card bg-dark text-white" data-toggle="collapse" data-target="#{{ type }}" aria-expanded="false" aria-controls="{{ type }}">
            <img class="card-img" src="{{ url_for('.static', filename=data[category][type]['banner']) }}" alt="Dragonboat Image">
            <div class="card-img-overlay {{ data[category][type]['overlay-classes'] }}">
              <h5 class="card-title" style="color: {{ data[category][type]['text-color'] }};">{{ data[category][type]['title'] }}</h5>
              <p class="card-text" style="color: {{ data[category][type]['text-color'] }};">{{ data[category][type]['desc'] }}</p>
            </div>
            {% if "cards" in data[category][type] %}
            <div id="{{ type }}" class="collapse" aria-labelledby="{{ type }}">
              <ul class="list-unstyled">
              {% for card in data[category][type]["cards"] %}
                <li class="media card-padd">
                  {% if "left" in data[category][type]['cards'][card]['img-position'] %}
                  <img class="mr-3 project-card-img" src="{{ url_for('.static', filename=data[category][type]['cards'][card]['image']) }}" alt="Borked Image">
                  {% endif %}
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ data[category][type]["cards"][card]["title"] }}</h5>
                    {{ data[category][type]["cards"][card]["desc"] }}
                  </div>
                  {% if "right" in data[category][type]['cards'][card]['img-position'] %}
                  <img class="mr-3 project-card-img" src="{{ url_for('.static', filename=data[category][type]['cards'][card]['image']) }}" alt="Borked Image">
                  {% endif %}
                </li>
                <hr class="hr-override">
              {% endfor %}
              </ul>
            </div>
            {% endif %}

          </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
