<!--
				  <form class="px-4 py-3" action="{{ url_for('login') }}" method="post">
						{{ form.hidden_tag() }}
				    <div class="form-group">
							{{ form.username.label }}<br>
				     	{{ form.username(size=32) }}
				    </div>
				    <div class="form-group">
							{{ form.password.label }}<br>
				      {{ form.password(size=32) }}
				    </div>
				    <div class="form-check">
				      {{ form.remember_me() }}{{ form.remember_me.label }}
				    </div>
						<button type="submit" class="btn btn-primary">Submit</button>{{ form.submit() }}
				  </form>
				  <div class="dropdown-divider"></div>
					<div class="alert alert-info" role="alert">
						Only Plex accounts are supported at this time.
					</div>

					<!--
					<form class="px-4 py-3" action="{{ url_for('login') }}" method="POST">
						<div class="form-group">
							<label for="user">Email address</label>
							<input type="email" class="form-control" name="user" placeholder="email@example.com">
						</div>
						<div class="form-group">
							<label for="pw">Password</label>
							<input type="password" class="form-control" name="pw" placeholder="Password">
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="dropdownCheck">
							<label class="form-check-label" for="dropdownCheck">
								Remember me
							</label>
						</div>
						<button type="submit" class="btn btn-primary">Sign in</button>
					</form>
					<div class="dropdown-divider"></div>
					<div class="alert alert-info" role="alert">
						Only Plex accounts are supported at this time.
					</div>
-->
<!--
{% if data[category] is mapping %}
<table class="table">
  <thead>
    <tr>
    {% for title in data[category] %}
    {% if data[category][title] is mapping %}
      <th colspan="{{ data[category][title]|length }}" class="text-center">{{ title }}</th>
    {% else %}
      <th scope="col" class="text-center">{{ title }}</th>
    {% endif %}
    {% endfor %}
    </tr>
    {% for title in data[category] %}
    {% if data[category][title] is mapping %}
    <tr>
      {% for subTitle in data[category][title] %}
      <th scope="col" class="text-center">{{ subTitle }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </thead>
  <tbody>
    {% for title in data[category] %}
    {% for item in data[category][title] %}
    {% if data[category][title][item] is mapping %}
    <tr>
    </tr>
    {% else %}
    <tr>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ data[category] }}</p>
{% endif %}
-->
<!--
<div class="card">
  <div class="card-header" role="tab" id="headingOne">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Skills
      </a>
    </h5>
  </div>
  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">

      <table class="table">

    <thead>
    <tr>
      <th scope="col">Programming</th>
      <th scope="col">Networking</th>
      <th scope="col">Soft Skills</th>
      <th scope="col">General</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Java</td>
      <td>Router Configuration</td>
      <td>Excellent Attendance</td>
      <td>Software: MS Office, Internet Explorer
    </tr>
    <tr>
      <td>Python</td>
      <td>Switch Configuration</td>
      <td>Honor Roll</td>
      <td></td>
    </tr>
    <tr>
      <td>Flask</td>
      <td>IP Addressing and Subnetting</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>C/C++</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>

</table>

</div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="headingTwo">
  <h5 class="mb-0">
  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Activities
  </a>
  </h5>
</div>
<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
  </div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="headingThree">
  <h5 class="mb-0">
  <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Experience
  </a>
  </h5>
</div>
<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
  <div class="card-body">
  </div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="headingFour">
  <h5 class="mb-0">
  <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Education
  </a>
  </h5>
</div>
<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
  <div class="card-body">
    <li>ASU</li>
  </div>
</div>
</div>

<div class="card">
<div class="card-header" role="tab" id="headingFive">
  <h5 class="mb-0">
  <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
    References
  </a>
  </h5>
</div>
<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
  <div class="card-body">
    <p>To protect the information of my references, please email me inquiring for my references at J.Montgomery@asu.edu. Thank you.</p>
  </div>
</div>
</div>
-->
